.dashboard {
  margin: 50px 90px 0 200px;
  display: flex;
  flex-direction: column;
}

.dashboardHeader {
  margin-bottom: 68px;
}
.dashboardHeader h1 {
  font-size: 48px;
  font-weight: 500;
}

.dashboardHeader__username {
  color: #ff0101;
}
.dashboardHeader p {
  font-size: 18px;
  font-weight: 400;
  margin-top: 24px;
}

.dashboardContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 31px;
}

.macronutrientCards {
  margin-left: 200px; /* à modifier plus tard */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30%;
  gap: 39px;
}
